<div class="big__img">
  <div class="big__img--control">
    <a class="big__img--link" data-id=""><i class="far fa-eye"></i></a>
    <a class="big__img--reset"><i class="fas fa-times"></i></a>
  </div>
  <div class="big__img--box">
    <img src="/img/living-room-furniture-0.jpg" alt="" />
  </div>
</div>
