<section id="instagram">
  <h2><a href="">pi_mebel</a><br /></h2>
  <a href="https://www.instagram.com/pi_mebel/" target="_blank"
    ><i class="fab fa-instagram"></i
  ></a>
</section>
<footer>
  <div class="logo">
    <img src="/img/photo_2022-07-07_15-38-38 - Copy.jpg" alt="" />
  </div>
  <nav id="nav__footer">
    <ul>
      <h1 class="footer__title"><a href="about">Haqqımızda</a></h1>
      <hr />
      <li>Müştəri xidməti</li>
      <li>Zəmanət</li>
      <li>çatdırılma</li>
      <li>ödəniş</li>
      <li>əlaqə</li>
    </ul>
    <ul>
      <h1 class="footer__title"><a href="/catalog/0">Kataloq</a></h1>
      <hr />
      <li><a class="navbar__item--link" href="/catalog/1">yataq</a></li>
      <li><a class="navbar__item--link" href="/catalog/2">divan</a></li>
      <li><a class="navbar__item--link" href="/catalog/3">kreslo</a></li>
      <li><a class="navbar__item--link" href="/catalog/4">pufik</a></li>
      <li>
        <a class="navbar__item--link" href="/catalog/5">uşaq mebelləri</a>
      </li>
      <li>
        <a class="navbar__item--link" href="/catalog/6">ofis mebelləri</a>
      </li>
    </ul>
    <ul class="contact">
      <h1 class="footer__title">Əlaqe</h1>
      <hr />
      <li><i class="fas fa-phone"></i> 050 868 11 00</li>
      <li><i class="fas fa-phone"></i> 051 947 07 14</li>
      <li class="flex-between">
        <i class="fas fa-at"></i> <a href="">pifurniture@gmail.com</a>
      </li>
    </ul>
    <ul class="sosial">
      <h1 class="footer__title">Sosial</h1>
      <hr />
      <ul>
        <li>
          <a
            href="https://www.facebook.com/search/top?q=pirrefti%20furniture"
            target="_blank"
          >
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/pi_mebel/" target="_blank"
            ><i class="fab fa-instagram"></i
          ></a>
        </li>
        <li>
          <a href=""><i class="fab fa-whatsapp"></i></a>
        </li>
      </ul>
    </ul>
  </nav>
</footer>
