<header id="contact__header">
  <nav id="nav__top">
    <div class="nav__top--logo">
      <img src="/img/logonew.png" />
    </div>

    <ul class="navbar">
      <li class="navbar__item">
        <a class="navbar__item--link" href="/">Əsas səhifə</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__item--link" href="about">Haqqımızda</a>
      </li>
      <li class="navbar__item catalog__item">
        <a class="navbar__item--link" href="/catalog/0">Kataloq</a>
        <ul class="catalog__dropdown catalog__dropdown--contact">
          <li>
            <a class="navbar__item--link" href="/catalog/1">yataq</a>
          </li>
          <hr />
          <li>
            <a class="navbar__item--link" href="/catalog/2">divan</a>
          </li>
          <hr />
          <li>
            <a class="navbar__item--link" href="/catalog/3">kreslo</a>
          </li>
          <hr />
          <li>
            <a class="navbar__item--link" href="/catalog/4">pufik</a>
          </li>
          <hr />
          <li>
            <a class="navbar__item--link" href="/catalog/5">uşaq mebelləri</a>
          </li>
          <hr />
          <li>
            <a class="navbar__item--link" href="/catalog/6">ofis mebelləri</a>
          </li>
          <hr />
        </ul>
      </li>
      <li class="navbar__item">
        <a class="navbar__item--link" href="/contact">Əlaqə</a>
      </li>
    </ul>
    <!-- mobil navbar -->
    <button class="navbar__icon">
      <i class="fas bar fa-bars"> </i><i class="fas del fa-times"></i>
    </button>
    <ul class="mobil__navbar">
      <li class="mobil__navbar--item">
        <a class="mobil__navbar--link" href="/">Ev</a>
      </li>
      <hr />
      <li class="mobil__navbar--item">
        <a class="mobil__navbar--link" href="/about">Haqqimizda</a>
      </li>
      <hr />
      <li class="mobil__navbar--item">
        <a class="mobil__navbar--link" href="/catalog/0">Kataloq</a>
        <ul class="mobil__catalog--dropdown">
          <hr />
          <li class="mobil__catalog--item">
            <a class="mobil__catalog--link" href="/catalog/1">yataq</a>
          </li>
          <hr />
          <li class="mobil__catalog--item">
            <a class="mobil__catalog--link" href="/catalog/2">divan</a>
          </li>
          <hr />
          <li class="mobil__catalog--item">
            <a class="mobil__catalog--link" href="/catalog/3">kreslo</a>
          </li>
          <hr />
          <li class="mobil__catalog--item">
            <a class="mobil__catalog--link" href="/catalog/4">bufik</a>
          </li>
          <hr />
          <li class="mobil__catalog--item">
            <a class="mobil__catalog--link" href="/catalog/5">usaq mebelleri</a>
          </li>
          <hr />
          <li class="mobil__catalog--item">
            <a class="mobil__catalog--link" href="/catalog/6">ofis mebelleri</a>
          </li>
          <hr />
        </ul>
      </li>
      <hr />
      <li class="mobil__navbar--item">
        <a class="mobil__navbar--link" href="/contact">Contact</a>
      </li>
      <hr />
    </ul>
  </nav>
</header>
