footer{
    position: relative;
    margin-top: 150px;
    padding:150px 0 2em;
    box-sizing: border-box;
    height: auto;
    background-color: $main-color;
    @extend .flex-center;
    flex-direction: column;
    .contact{
        i{
            padding: 8px;
        }
    }
    .logo{
        position: absolute;
        top: -125px;
        width: 300px;
        height: 250px;
        overflow: hidden;
        border-radius: 5%;
        img{
            width: 100%;
            height: 100%;
            transform: scale(1.5);
            object-fit: cover;
        }
    }
}

