// desktop
@media  (min-width: 1198px){
    header{
        height: 100px;
        .nav__top--logo{
            width: 80px;
        }
    }
    #bcimg{
        height: 900px;
        &__box{
            background-size: 100% 100% !important
        }
    }
    #gallery{
        &__grid{
            li{
                @include grid(4,2%);
                height:250px;
            }              
        }
    }
    // catalog
    #catalog__gallery{
        &--grid{
            li{
                height: 300px;
                @include grid(2,2%)
            }
        }
    }
    #child{
        .child__slide:not(:last-child){
            margin-right: 10px;
        }
    }
}
// tablet
@media  (max-width: 1198px) and (min-width:768px){
    body{
        font-size: 9px !important;
    }
    // header
    header{
        .nav__top--logo{
            width: 80px;
        }
        height: 90px;
        position: relative;
        #nav__top{
            .navbar__icon{
                display: block !important;
                width: 27px;
                height: 27px;
                i{
                    font-size: 17px !important;
                }
            }
            .navbar{
                display: none !important;
            }
        }
        .mobil__navbar{
            top: 90px
        }
    }
    // gallery 
    #gallery{
        &__grid{
           li{
            @include grid(3,2%);
            height: 220px;
           }
        }
    }
    // child
    #child{
        width: 100%;
        &__slider{
            overflow: hidden;
            width: 710px !important;
        }
        .child__slide{
            width: 710px;
            margin: 0;
            border-right: 3px solid white;
        }
    }
    // catalog
    #catalog__gallery{
        &--grid{
            li{
                height: 300px;
                @include grid(2,2%)
            }
        }
    }
    footer{
        #nav__footer{
            display: flex;
            flex-wrap: wrap;
            ul{
                display: block;
                width: 150px;
                *{
                    text-align: center;
                }
                li{
                    margin: 1em 0;
                }
            }
        }
    }  
}

// laptop
@media  (max-width: 768px) and (min-width:576px){
    body{
        font-size: 8px !important;
    }
    // open page 
    .open__page{
        &--img{
            width: 200px !important;
            height: 200px !important;
        }
    }
    // header
    header{
        .nav__top--logo{
            width: 60px;
        }
        height: 70px;
        position: relative;
        #nav__top{
            .navbar__icon{
                display: block !important;
                width: 24px;
                height: 24px;
                i{
                    font-size: 15px !important;
                }
            }
            .navbar{
                display: none !important;
            }
        }
        .mobil__navbar{
            top: 80px
        }

    }
    // gallery 
    #gallery{
        &__grid{
           li{
            @include grid(2,1%);
            height: 200px;
           }
        }
    }

    // child 
    #child{
        &__slider{
            overflow: hidden;
            width: 500px !important;
            height: 300px !important;
        }
        .child__slides{
            height: 300px !important;
            border: none;
        }
        .child__slide{
            width: 500px;
            height: 300px;
            border-right: 3px solid white;
        }
    } 

    // about 
    .about{
        &__box{
            display: block !important
        }
        &__img{
            width: 100% !important;
            margin-right: 0;
            margin-bottom: 3em;
        }
        &__info{
            width: 100% !important
        }
    }
    .about__second{
        .about__box{
            display: flex !important;
            flex-direction: column-reverse !important;
            align-items: center !important;
        }
    }
    // catalog 
    #catalog__gallery{
        &--grid{
            li{
                @include grid(1,0);
                margin-bottom: 1em !important;
            }
        }
    }
    footer{
        .logo{
            top: -100px !important;
            width: 200px !important;
            height: 150px !important;
            img{
                width: 100%;
                height: 100%;
            }
        }
        #nav__footer{
            display: flex;
            flex-wrap: wrap;
            ul{
                display: block;
                width: 150px;
                *{
                    text-align: center;
                }
                li{
                    margin: 1em 0;
                }
            }
        }
    }    
}


// phone 
@media  (max-width: 576px){
    body{
        font-size: 7px !important;
    }
    // open page 
    .open__page{
        &--img{
            width: 100px !important;
            height: 100px !important;
        }
    }
    // big Img
    .big__img{
        &--box{
            height: auto !important;
            width: auto !important;
        }
    }
    // background img 
    // #bcimg{
    //     // height: 100vh !important ;
    //     // &__box{
    //     // background-size: cover !important;
    //     // }
    // }
    // header
    header{
        .nav__top--logo{
            width: 50px;
        }
        height: 60px;
        position: relative;
        #nav__top{
            .navbar__icon{
                display: block !important;
                width: 23px;
                height: 23px;
                i{
                    font-size: 14px !important;
                }
            }
            .navbar{
                display: none !important;
            }
        }
        .mobil__navbar{
            top: 70px
        }
    }
    // new models
#new__models{
    width: 100%;
    margin-bottom: 8em;
    .new__title{
        text-align: center;
        margin: 1em 0 !important;
    }.models{
        width: 90% !important;
        height: calc(100vw/2) !important;
        margin: 0 auto;
        &__img--box{
            width: 65%;
            height: 100%;
            // @extend .flex-center-x;
            display: flex;
            justify-content: center; 
        }
        &__img{
            height: 100%;
            width: 100% !important;
        }
        &__about{
            width: 30%;
        }
    }
}
    // gallery 
    #gallery{
        &__grid{
            padding: 20px;
            box-sizing: border-box;
           li{
            @include grid(1,0);
            height: 300px;
            margin-bottom: 20px;
           }
        }
    }
    #child{
        width: 100% !important;
        padding: 1em;
        box-sizing: border-box;
        &__slider{
            overflow: hidden;
            width: 100% !important;
            height: 300px !important;
            border: none !important;
        }
        .child__slides{
            height: 300px !important;
        }
        .child__slide{
            width: 500px;
            height: 300px;
        }
    }  
    // about 
    .about{
        &__box{
            display: block !important
        }
        &__img{
            width: 100% !important;
            margin-right: 0;
            margin-bottom: 3em;
        }
        &__info{
            width: 100% !important
        }
    }
    .about__second{
        .about__box{
            display: flex !important;
            flex-direction: column-reverse !important;
            align-items: center !important;
        }
    }
    // catalog 
    #catalog{
        &__gallery{
            &--grid{
                li{
                    @include grid(1,0);
                    margin-bottom: 1em !important;
                }
            }
        } 
        &__sidebar{
            display: flex !important;
            flex-direction: column !important;
            align-items: start !important;
            &--box{
                width: 90% !important;
            }
        }
    }
    
    // Product 
    .product{
        &__angle{
            &--left,&--right{
                padding: .3em .5em !important;
            }
        }
    }
    // contact
    #contact{
        form{
            width: 80% !important;
            .fullname{
                flex-direction: column;
                margin: 0;
                input{
                    width: 100% !important;
                    box-sizing: border-box;
                    margin-bottom: 1em;
                }
            }
        }
    }
    footer{
        margin-top:40px !important;
        padding:100px 0 2em !important;
        .logo{
            top: -100px !important;
            width: 200px !important;
            height: 150px !important;
            img{
                width: 100%;
                height: 100%;
            }
        }
        #nav__footer{
            display: flex;
            flex-wrap: wrap;
            width: 80%;
            ul{
                display: block;
                width: 100px;
                *{
                    text-align: center;
                }
                li{
                    margin: 1em 0;
                    font-size: 1.5em;
                }
                h1{
                    font-size: 2em !important;
                }
            }
        }
    }  
}