// HOME 
// font Family 
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px !important;
}
// big image
.big__img{
    &--link{
        font-size: 2em;
        color: white;
    }
    &--reset{
        font-size: 3em;
        color: white;
    }
}
// nav top
#nav__top{
    .pi{
        color: white;
        font-size: 3em;
    }
    .navbar__item--link{
        font-size: 2em;
        color: white;
    }
}
// bcimg 
.pi__funiture{
    color: white;
    font-size: 5em;
    letter-spacing: 3px;
    font-family: "smoch",cursive;
}


// new models 
 #new__models{
    .new__title{
        font-size: 3em;
        color: $main-color;
    }
    .models{
        &__about{
            &--info{
                font-size: 2em;
                color: $main-color;
            }
        }
    }

 }
// child

#child{
    &__title{
        color: $main-color;
    }
    .child__angle{
        button{
            font-size: 1.5em;
            color: $main-color;
        }
        .fas{
            font-size: 1.5em;
        }

    }
}
// nav footer
#nav__footer{
    a{
        color: $gallery-color;
    }
    li{
        font-size: 2em;
        color: $gallery-color;
    }
    .footer__title{
        font-size: 2.3em;
        color: $gallery-color;
    }
    hr{
        border-top: none;
    }
}
.sosial{
    a{
        font-size: 4em;
        color: $main-color;
        margin-bottom: 1.5em;
    }
    
}

#gallery__title{
    font-size: 3em;
    color: $main-color;
    text-align: center;
}


#child__title{
    font-size: 3em;
}
// ABOUT
.about{
    &__title{
        font-size: 2em;
        color: $gallery-color;
    }
    &__info{
        font-size: 2em;
        color: $main-color;
        line-height: 30px;
    }
}
//CATALOG 
#catalog{
    &__sidebar{
        &--title{
            font-size: 2.3em;
            color: $font-color-first;
            font-weight: bold;
        }
    }
    &__gallery{
        &--title{
            font-size: 3em;
            color: $main-color;
        }
    }
    &__list{
        .catalog__item{
            &--link{
                font-size: 2em;
                color: $font-color-first;
            }
            &--count{
                font-size: 1.3em;
                color:$font-color-first
            }
        }
    }
}

// CONTACT
#contact{
    &__title{
        font-size: 3em;
        letter-spacing: 3px;
    }
    #submit{
        background-color: $main-color;
        color: white;
    }
}

#name,#lname,#email,#textarea{
    font-size: 1.5em;
    color: $main-color;

}
// Product
.product{
    &__title{
        font-size: 2.5em;
        color: black;
    }
    &__info{
        &--item{
            font-size: 2em;
        }
        &--desc{
            font-size: 2em;
        }
    }
}


// dropdown 
.catalog__dropdown{
    background-color: $thirdary-color;
    li{
        transition: all ease 2s;
        // font-size: 0 !important;
    }
}
// dropdown











// mobile 

// mobile header 
header{
    .mobil__navbar{
        &--link{
            color: white;
            font-size: 2em ;
        }
    }
}

// mobil dropdown 
.mobil__catalog--dropdown{
    .mobil__catalog--link{
        color: white;
        font-size: 1.5em;
    }
    hr{
        width: 60% !important;
    }
}


// mobile 
