<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,400;1,200&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700;1,800&family=Smooch&display=swap"
      rel="stylesheet"
    />
    <title>furniture contact</title>
  </head>
</html>
<body>
  <%-include("./inc/header")%>
  <!-- about us -->
  <section class="about">
    <div class="about__box">
      <div class="about__img">
        <img src="./img/fabric.jpg" alt="" />
      </div>
      <p class="about__info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum aut,
        deleniti odit optio veritatis, quos corporis magni aspernatur facilis
        minus officia voluptatibus vero sequi! Nesciunt exercitationem
        laudantium fuga reiciendis temporibus sit hic iure nisi quisquam sunt
        tempora minima debitis consequuntur nihil corrupti voluptatum, labore
        velit sed dolore error. Reprehenderit dignissimos atque repudiandae
        quod. Harum alias nemo distinctio perspiciatis quaerat sint possimus
        cum, ipsa accusantium beatae quos? Dolorem voluptatibus ab, dicta cum
        repellendus eveniet suscipit consequatur? Libero porro dolor modi ullam?
        Quo, dolorem aperiam possimus iste distinctio nihil pariatur dolores id,
        corporis ducimus, sunt ad molestiae itaque voluptatem perspiciatis
        repellendus illum.
      </p>
    </div>
  </section>

  <!-- instagram -->
  <!-- footer  -->
  <%- include("./inc/footer")%>
  <script type="module" src="about.js"></script>
</body>
