<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,400;1,200&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700;1,800&family=Smooch&display=swap"
      rel="stylesheet"
    />
    <title>furniture contact</title>
  </head>
</html>
<body>
  <%-include("./inc/header")%>
  <!-- about us -->
  <section class="about">
    <h1 class="about__title">Bizim haqqımızda</h1>
    <div class="about__box">
      <div class="about__img">
        <img src="./img/aboutimg.jpg" alt="" />
      </div>
      <p class="about__info">
        Fabrikamız mebel sənayesində zəngin təcrübəyə malikdir. Əsas məhsullar
        sırasına divan, kreslo, çarpayı, yataq, uşaq yatağı, pufik, işçi masası,
        kompüter masası, otel mebeli, ofis mebeli, bütün yumşaq mebellər və s.
        daxildir. Fabrikimizin təcrübəli və peşəkar ustaları və işçi heyəti
        tərəfindən idarə olunan böyük istehsal xətti var.Biz mükəmməl
        xidmətlərimiz, keyfiyyətli məhsullarımız və rəqabətədavamlı
        qiymətlərimizlə müştərilərimiz arasında yaxşı reputasiya qazanmışıq.
      </p>
    </div>
  </section>
  <hr />
  <section class="about about__second">
    <h1 class="about__title about__title--second">Niyə Bizi Seçin?</h1>
    <div class="about__box">
      <pre class="about__info">
        1. 10 ildən çox təcrübəli ustalar

        2. Yüksək keyfiyyət 

        3. Büdcənizə uyğun qiymət

        4. 3 il rəsmi zəmanət

        5. Müştəriyə məhsul seçimində xüsusi dəstək 

        6. Endirimlər və güzəştli ödənişlər

      </pre>
      <div class="about__img">
        <img src="./img/aboutimg2.jpg" alt="" />
      </div>
    </div>
  </section>

  <!-- instagram -->
  <!-- footer  -->
  <%- include("./inc/footer")%>
  <script type="module" src="about.js"></script>
</body>
