.flex-center-x, #new__models .models__img--box {
  display: flex !important;
  justify-content: center;
}

.flex-center-row, #catalog__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-center-y, #catalog__sidebar .catalog__item, .about__box, #child ul, .button, #nav__top .navbar, #nav__top {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.flex-center, #catalog__gallery--grid .hover__box, .sosial__box, #gallery__grid li .hover__box, #bcimg__box, .big__img, .open__page, footer, header, #gallery__plus {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.flex-between, #catalog, #contact .fullname, #new__models .models, #nav__footer {
  display: flex;
  justify-content: space-between;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-y, #contact, #child, .mobil__catalog--dropdown, .catalog__dropdown, header .mobil__navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-v-1, .button__plus {
  border-color: white;
  border-radius: 5px;
  padding: 7px 15px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 10px !important;
}

.big__img--link {
  font-size: 2em;
  color: white;
}
.big__img--reset {
  font-size: 3em;
  color: white;
}

#nav__top .pi {
  color: white;
  font-size: 3em;
}
#nav__top .navbar__item--link {
  font-size: 2em;
  color: white;
}

.pi__funiture {
  color: white;
  font-size: 5em;
  letter-spacing: 3px;
  font-family: "smoch", cursive;
}

#new__models .new__title {
  font-size: 3em;
  color: #423F3E;
}
#new__models .models__about--info {
  font-size: 2em;
  color: #423F3E;
}

#child__title {
  color: #423F3E;
}
#child .child__angle button {
  font-size: 1.5em;
  color: #423F3E;
}
#child .child__angle .fas {
  font-size: 1.5em;
}

#nav__footer a {
  color: #CDC9C3;
}
#nav__footer li {
  font-size: 2em;
  color: #CDC9C3;
}
#nav__footer .footer__title {
  font-size: 2.3em;
  color: #CDC9C3;
}
#nav__footer hr {
  border-top: none;
}

.sosial a {
  font-size: 4em;
  color: #423F3E;
  margin-bottom: 1.5em;
}

#gallery__title {
  font-size: 3em;
  color: #423F3E;
  text-align: center;
}

#child__title {
  font-size: 3em;
}

.about__info {
  font-size: 2em;
}

#catalog__sidebar--title {
  font-size: 2.3em;
  color: #302928;
  font-weight: bold;
}
#catalog__gallery--title {
  font-size: 3em;
  color: #423F3E;
}
#catalog__list .catalog__item--link {
  font-size: 2em;
  color: #302928;
}
#catalog__list .catalog__item--count {
  font-size: 1.3em;
  color: #302928;
}

#contact__title {
  font-size: 3em;
  letter-spacing: 3px;
}
#contact #submit {
  background-color: #423F3E;
  color: white;
}

#name, #lname, #email, #textarea {
  font-size: 1.5em;
  color: #423F3E;
}

.product__title {
  font-size: 2.5em;
  color: black;
}
.product__info--item {
  font-size: 2em;
}
.product__info--desc {
  font-size: 2em;
}

.catalog__dropdown {
  background-color: rgba(30, 29, 28, 0.5);
}
.catalog__dropdown li {
  transition: all ease 2s;
}

header .mobil__navbar--link {
  color: white;
  font-size: 2em;
}

.mobil__catalog--dropdown .mobil__catalog--link {
  color: white;
  font-size: 1.5em;
}

@media (min-width: 1198px) {
  header {
    height: 100px;
  }
  header .nav__top--logo {
    width: 80px;
  }
  #bcimg {
    height: 900px;
  }
  #bcimg__box {
    background-size: 100% 100% !important;
  }
  #gallery__grid li {
    width: calc(23.5%);
    margin-right: 2%;
    margin-bottom: 2%;
    height: 250px;
  }
  #gallery__grid li:nth-child(4n) {
    margin-right: 0;
  }
  #catalog__gallery--grid li {
    height: 300px;
    width: calc(49%);
    margin-right: 2%;
    margin-bottom: 2%;
  }
  #catalog__gallery--grid li:nth-child(2n) {
    margin-right: 0;
  }
  #child .child__slide:not(:last-child) {
    margin-right: 10px;
  }
}
@media (max-width: 1198px) and (min-width: 768px) {
  body {
    font-size: 9px !important;
  }
  header {
    height: 90px;
    position: relative;
  }
  header .nav__top--logo {
    width: 80px;
  }
  header #nav__top .navbar__icon {
    display: block !important;
    width: 27px;
    height: 27px;
  }
  header #nav__top .navbar__icon i {
    font-size: 17px !important;
  }
  header #nav__top .navbar {
    display: none !important;
  }
  header .mobil__navbar {
    top: 90px;
  }
  #gallery__grid li {
    width: calc(32%);
    margin-right: 2%;
    margin-bottom: 2%;
    height: 220px;
  }
  #gallery__grid li:nth-child(3n) {
    margin-right: 0;
  }
  #child {
    width: 100%;
  }
  #child__slider {
    overflow: hidden;
    width: 710px !important;
  }
  #child .child__slide {
    width: 710px;
    margin: 0;
    border-right: 3px solid white;
  }
  #catalog__gallery--grid li {
    height: 300px;
    width: calc(49%);
    margin-right: 2%;
    margin-bottom: 2%;
  }
  #catalog__gallery--grid li:nth-child(2n) {
    margin-right: 0;
  }
  footer #nav__footer {
    display: flex;
    flex-wrap: wrap;
  }
  footer #nav__footer ul {
    display: block;
    width: 150px;
  }
  footer #nav__footer ul * {
    text-align: center;
  }
  footer #nav__footer ul li {
    margin: 1em 0;
  }
}
@media (max-width: 768px) and (min-width: 576px) {
  body {
    font-size: 8px !important;
  }
  .open__page--img {
    width: 200px !important;
    height: 200px !important;
  }
  header {
    height: 70px;
    position: relative;
  }
  header .nav__top--logo {
    width: 60px;
  }
  header #nav__top .navbar__icon {
    display: block !important;
    width: 24px;
    height: 24px;
  }
  header #nav__top .navbar__icon i {
    font-size: 15px !important;
  }
  header #nav__top .navbar {
    display: none !important;
  }
  header .mobil__navbar {
    top: 80px;
  }
  #gallery__grid li {
    width: calc(49.5%);
    margin-right: 1%;
    margin-bottom: 1%;
    height: 200px;
  }
  #gallery__grid li:nth-child(2n) {
    margin-right: 0;
  }
  #child__slider {
    overflow: hidden;
    width: 500px !important;
    height: 300px !important;
  }
  #child .child__slides {
    height: 300px !important;
    border: none;
  }
  #child .child__slide {
    width: 500px;
    height: 300px;
    border-right: 3px solid white;
  }
  .about__box {
    display: block !important;
  }
  .about__img {
    width: 100% !important;
    margin-right: 0;
    margin-bottom: 3em;
  }
  .about__info {
    width: 100% !important;
  }
  #catalog__gallery--grid li {
    width: calc(100%);
    margin-right: 0;
    margin-bottom: 0;
    margin-bottom: 1em !important;
  }
  #catalog__gallery--grid li:nth-child(1n) {
    margin-right: 0;
  }
  footer .logo {
    top: -75px !important;
    width: 200px !important;
    height: 150px !important;
  }
  footer .logo img {
    width: 100%;
    height: 100%;
  }
  footer #nav__footer {
    display: flex;
    flex-wrap: wrap;
  }
  footer #nav__footer ul {
    display: block;
    width: 150px;
  }
  footer #nav__footer ul * {
    text-align: center;
  }
  footer #nav__footer ul li {
    margin: 1em 0;
  }
}
@media (max-width: 576px) {
  body {
    font-size: 7px !important;
  }
  .open__page--img {
    width: 100px !important;
    height: 100px !important;
  }
  .big__img--box {
    height: auto !important;
    width: auto !important;
  }
  header {
    height: 60px;
    position: relative;
  }
  header .nav__top--logo {
    width: 50px;
  }
  header #nav__top .navbar__icon {
    display: block !important;
    width: 23px;
    height: 23px;
  }
  header #nav__top .navbar__icon i {
    font-size: 14px !important;
  }
  header #nav__top .navbar {
    display: none !important;
  }
  header .mobil__navbar {
    top: 70px;
  }
  #new__models {
    width: 100%;
    margin-bottom: 8em;
  }
  #new__models .new__title {
    text-align: center;
    margin: 1em 0 !important;
  }
  #new__models .models {
    width: 90% !important;
    height: 50vw !important;
    margin: 0 auto;
  }
  #new__models .models__img--box {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  #new__models .models__img {
    height: 100%;
    width: 100% !important;
  }
  #new__models .models__about {
    width: 30%;
  }
  #gallery__grid li {
    width: calc(100%);
    margin-right: 0;
    margin-bottom: 0;
    height: 300px;
    margin-bottom: 20px;
  }
  #gallery__grid li:nth-child(1n) {
    margin-right: 0;
  }
  #child {
    width: 100% !important;
    padding: 1em;
    box-sizing: border-box;
  }
  #child__slider {
    overflow: hidden;
    width: 100% !important;
    height: 300px !important;
    border: none !important;
  }
  #child .child__slides {
    height: 300px !important;
  }
  #child .child__slide {
    width: 500px;
    height: 300px;
  }
  .about__box {
    display: block !important;
  }
  .about__img {
    width: 100% !important;
    margin-right: 0;
    margin-bottom: 3em;
  }
  .about__info {
    width: 100% !important;
  }
  #catalog__gallery--grid li {
    width: calc(100%);
    margin-right: 0;
    margin-bottom: 0;
    margin-bottom: 1em !important;
  }
  #catalog__gallery--grid li:nth-child(1n) {
    margin-right: 0;
  }
  .product__angle--left, .product__angle--right {
    padding: 0.3em 0.5em !important;
  }
  #contact form {
    width: 80% !important;
  }
  #contact form .fullname {
    flex-direction: column;
    margin: 0;
  }
  #contact form .fullname input {
    width: 100% !important;
    box-sizing: border-box;
    margin-bottom: 1em;
  }
  footer {
    margin-top: 40px !important;
    padding: 100px 0 2em !important;
  }
  footer .logo {
    top: -75px !important;
    width: 200px !important;
    height: 150px !important;
  }
  footer .logo img {
    width: 100%;
    height: 100%;
  }
  footer #nav__footer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }
  footer #nav__footer ul {
    display: block;
    width: 100px;
  }
  footer #nav__footer ul * {
    text-align: center;
  }
  footer #nav__footer ul li {
    margin: 1em 0;
    font-size: 1.5em;
  }
  footer #nav__footer ul h1 {
    font-size: 2em !important;
  }
}
#nav__top {
  width: 70%;
  height: 100%;
}
#nav__top .nav__top--logo {
  height: 80%;
}
#nav__top .nav__top--logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#nav__top .navbar {
  width: 40%;
  height: 100%;
}
#nav__top .navbar li {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  transition: all ease 0.5s;
}

#nav__footer {
  width: 60%;
  height: 100%;
}
#nav__footer ul li {
  margin: 1em 1em 1em 0;
}

#gallery__plus {
  width: 100%;
  height: 100px;
}
#gallery__plus .button__plus {
  background-color: #423F3E;
  transition: all ease 0.5s;
  padding: 0.1em 0.7em;
  font-size: 3em;
  cursor: pointer !important;
}
#gallery__plus .button__plus:hover {
  background-color: white;
  color: #423F3E;
  border: 1px solid #423F3E;
}

#nav__top .navbar__icon {
  position: relative;
  cursor: pointer;
  display: none;
  background: none;
  color: white;
  border-color: white;
  width: 30px;
  height: 30px;
}
#nav__top .navbar__icon .fas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  transition: all ease 0.5s;
}
#nav__top .navbar__icon .del {
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.5s;
}

header {
  width: 100%;
  background-color: rgba(30, 29, 28, 0.5);
  position: fixed;
  top: 0;
  z-index: 5;
  transition: all linear 0.6s;
  border-bottom: 1px solid white;
}

#contact__header {
  position: fixed;
  background-color: #423F3E !important;
  top: 0;
  transition: all linear 0.6s;
}

header .mobil__navbar {
  background-color: rgba(30, 29, 28, 0.5);
  width: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
  transition: all ease 0.5s;
}
header .mobil__navbar hr {
  width: 100%;
  border-top: none;
}
header .mobil__navbar--item {
  margin: 0.8em 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer {
  position: relative;
  margin-top: 150px;
  padding: 150px 0 2em;
  box-sizing: border-box;
  height: auto;
  background-color: #423F3E;
  flex-direction: column;
}
footer .contact i {
  padding: 8px;
}
footer .logo {
  position: absolute;
  top: -125px;
  width: 300px;
  height: 250px;
  overflow: hidden;
  border-radius: 5%;
}
footer .logo img {
  width: 100%;
  height: 100%;
  transform: scale(1.5);
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
.button button {
  background-color: lightgray;
  border: none;
}
.button .fas {
  font-size: 40px;
  color: #423F3E;
}

.button__plus {
  background: none;
  color: white;
}

.catalog__dropdown {
  width: 150px !important;
  height: 0px !important;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 10000;
  transform: translate(-50%);
  transition: all ease 0.5s;
  overflow: hidden;
}
.catalog__dropdown li {
  margin-bottom: 0.5em;
  font-size: 1em;
}
.catalog__dropdown hr {
  width: 100%;
  border-top: none;
}

.catalog__dropdown--contact {
  background-color: #423F3E;
}

.catalog__item:hover .catalog__dropdown {
  height: 300px !important;
}

.mobil__catalog--dropdown {
  width: 150px;
}
.mobil__catalog--dropdown .mobil__catalog--item {
  margin: 0.3em 0;
}

.open__page {
  width: 100%;
  height: 100vh;
  background-color: #423F3E;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.open__page--img {
  -webkit-animation: carusel 1s forwards linear;
          animation: carusel 1s forwards linear;
}
.open__page--img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@-webkit-keyframes carusel {
  0% {
    transform: rotate(-360deg);
  }
}

@keyframes carusel {
  0% {
    transform: rotate(-360deg);
  }
}
.big__img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 6;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.5s;
}
.big__img--control {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: center;
}
.big__img--link {
  margin-right: 2em;
  cursor: pointer;
}
.big__img--reset {
  cursor: pointer;
}
.big__img--box {
  border: 1px solid white;
  max-width: 80%;
  height: 80%;
}
.big__img--box img {
  width: 100%;
  height: 100%;
}

#bcimg {
  height: 100vh;
}
#bcimg__box {
  height: 100%;
  width: 100%;
  background-image: url("/img/bcimg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#new__models {
  width: 100%;
  margin-bottom: 8em;
}
#new__models .new__title {
  text-align: center;
  margin: 3em 0;
}
#new__models .models {
  width: 80%;
  height: 33.3333333333vw;
  margin: 0 auto;
}
#new__models .models__img--box {
  width: 65%;
  height: 100%;
}
#new__models .models__img {
  box-shadow: 1px 1px 10px #423F3E;
  height: 100%;
}
#new__models .models__about {
  width: 30%;
}

#gallery {
  background-color: #CDC9C3;
  height: auto;
  padding-bottom: 1em;
  box-sizing: border-box;
}
#gallery__title {
  padding: 2em;
  box-sizing: border-box;
}
#gallery__grid {
  display: flex;
  flex-wrap: wrap;
}
#gallery__grid li {
  position: relative;
  background-color: white;
}
#gallery__grid li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#gallery__grid li .hover__box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(30, 29, 28, 0.5);
  opacity: 0;
  transition: all ease 0.5s;
}
#gallery__grid li .hover__box .far, #gallery__grid li .hover__box .fas {
  color: white;
  font-size: 2em;
  cursor: pointer;
}
#gallery__grid li .hover__box .fas {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#gallery__grid li .hover__box:hover {
  opacity: 1;
}

#child {
  width: 100%;
  height: 700px;
}
#child__title {
  margin-bottom: 3em;
}
#child__slider {
  height: 350px;
  width: 1200px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}
#child ul {
  border: 1px solid #423F3E;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all linear 1s;
}
#child ul li {
  border: none;
  height: 100%;
  width: 595px;
  margin-bottom: 0;
}
#child ul li img {
  width: 100%;
  height: 100%;
}
#child .child__angle {
  margin-top: 2em;
}
#child .child__angle button {
  background: none;
  margin: 0.3em;
  cursor: pointer;
  transition: all ease 0.5s;
}
#child .child__angle button:hover {
  background-color: #423F3E;
  color: white;
}

.sosial {
  border-top: 1px solid #423F3E;
  height: 200px;
  background-color: white;
}
.sosial__box a {
  margin: 0 1em;
}
.sosial h2 {
  margin-bottom: 1.5em;
  text-align: center;
  padding: 2em;
}

.about {
  margin-top: 100px;
  padding: 5em;
  box-sizing: border-box;
  width: 100%;
}
.about__box {
  height: 100%;
  width: 100%;
}
.about__img {
  height: 100%;
  width: 50%;
  margin-right: 3em;
}
.about__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__info {
  width: 50%;
}

#contact {
  margin-top: 100px !important;
  height: 700px;
}
#contact__title {
  margin-bottom: 2em;
}
#contact form {
  width: 60%;
  padding: 2em 5em;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px #423F3E;
}
#contact .fullname {
  width: 100%;
  margin-bottom: 4em;
}
#contact .fullname #name, #contact .fullname #lname {
  padding: 0.5em 1em;
  width: 40%;
}
#contact .email {
  width: 100%;
  margin-bottom: 7em;
}
#contact .email #email {
  width: 100%;
  padding: 0.5em 1em;
  box-sizing: border-box;
}
#contact .textarea {
  width: 100%;
  margin-bottom: 4em;
}
#contact .textarea #textarea {
  width: 100%;
  padding: 0.5em 1em;
  box-sizing: border-box;
}
#contact .post {
  width: 100%;
}
#contact .post #submit {
  width: 100%;
  padding: 0.5em 1em;
}

#catalog {
  margin-top: 100px;
  width: 100%;
}
#catalog__sidebar {
  position: fixed;
  left: 0;
  top: 100px;
  width: 30%;
}
#catalog__sidebar--box {
  width: 60%;
  margin-top: 5em;
  z-index: -1;
}
#catalog__sidebar--title {
  margin-bottom: 1em;
}
#catalog__sidebar hr {
  width: 100%;
}
#catalog__sidebar .catalog__item {
  margin: 1.5em 0 0;
}
#catalog__gallery {
  margin-top: 100px;
  margin-left: 30%;
  width: 70%;
}
#catalog__gallery--grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#catalog__gallery--grid li {
  position: relative;
}
#catalog__gallery--grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#catalog__gallery--grid .hover__box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(30, 29, 28, 0.5);
  opacity: 0;
  transition: all ease 0.5s;
}
#catalog__gallery--grid .hover__box .far, #catalog__gallery--grid .hover__box .fas {
  color: white;
  font-size: 2em;
  cursor: pointer;
}
#catalog__gallery--grid .hover__box .fas {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#catalog__gallery--grid .hover__box:hover {
  opacity: 1;
}

.product {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  box-sizing: border-box;
}
.product__title {
  margin: 2em;
}
.product__slider {
  background-color: #423F3E;
  height: 33.3333333333vw;
  width: 65%;
  position: relative;
  overflow: hidden;
}
.product__slides {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 100%;
  display: flex;
  transition: all ease 0.5s;
}
.product__slide {
  height: 100%;
  display: flex;
  justify-content: center;
}
.product__slide--img {
  max-height: 100%;
}
.product__angle--left, .product__angle--right {
  padding: 0.3em 1em;
  margin: 0.5em;
  background: none;
  transition: all ease 0.2s;
  cursor: pointer;
}
.product__angle--left:hover, .product__angle--right:hover {
  background-color: #423F3E;
}
.product__angle--left:hover i, .product__angle--right:hover i {
  color: white;
}
.product__angle i {
  font-size: 1.5em;
}
.product__info {
  width: 65%;
  overflow: hidden;
}
.product__info--item {
  margin: 1em;
}