.catalog__dropdown{
    width: 150px !important;
    height: 0px !important;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 10000;
    transform: translate(-50%);
    transition: all ease .5s;
    overflow: hidden;
    @extend .flex-y;
    li{
        margin-bottom: .5em;
        font-size: 1em;
    }
    hr{
        width: 100%;
        border-top: none;
    }
}
.catalog__dropdown--contact{
    background-color: $main-color;
}
.catalog__item{
    &:hover{
        .catalog__dropdown{
            height: 300px !important;
        }
    }
}

// mobil dropdown 

.mobil__catalog--dropdown{
    width: 150px;
    @extend .flex-y;
    .mobil__catalog--item{
        margin: .3em 0;
    }
}